.WeatherForecast {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 40px 0;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
.WeatherForecast .icon {
  padding: 30px;
}
