.Weather {
  border: 1px solid #dadde1;
  color: #212529;
  padding: 16px;
  border-radius: 4px;
}
.Weather h1 {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.icon img {
}

.Weather img {
  display: inline-block;
  position: relative;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 58px;
  line-height: 64px;
  font-weight: 400;
  display: inline-block;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -30px;
}
